@model List<NhaKhoaQuangVu.Models.DatHen>
@{
    ViewData["Title"] = "Danh Sách Lịch Hẹn";
}

<h1 class="display-4">Danh Sách Lịch Hẹn</h1>


<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Mã Lịch Hẹn</th>
                    <th>Tên Khách Hàng</th>
                    <th>Số Điện Thoại</th>
                    <th>Ngày Hẹn</th>
                    <th>Giờ Hẹn</th>
                    <th>Dịch Vụ</th>
                    <th>Trạng Thái</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var datHen in Model)
                {
                    <tr>
                        <td>@datHen.Id</td>
                        <td>@datHen.HoTen</td>
                        <td>@datHen.SDT</td>
                        <td>@datHen.NgayHen.ToString("dd/MM/yyyy")</td>
                        <td>@datHen.GioHen.ToString("HH:mm")</td>
                        <td>@datHen.MaDichVu</td>
                        <td>@datHen.TrangThai</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
