@page "/admin/role/users"
@model NhaKhoaQuangVu.Areas.Admin.Pages.Role.UserModel
@{
    ViewData["Title"] = "DANH SÁCH NGƯỜI DÙNG";
}


<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="@Model.StatusMessage" />

<table class="table table-striped">
    <tr>
        <th>UserName</th>
        <th>Email</th>
        <th>PhoneNumber</th>
        <th>Address</th>
        <th>Roles</th>
        <th>Actions</th>
    </tr>
    @foreach (var user in @Model.users)
    {

        <tr>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>@user.PhoneNumber</td>
            <td>@user.Address</td>
            <td>@user.ListRoles </td>
            <td>
                <form method="POST" class="d-inline">
                    <button name="Input.ID" value="@user.Id" class="btn btn-primary btn-sm"
                        asp-page="./AddUserRole">
                        Cập nhật Role
                    </button>

                </form>
                
                <a asp-page="./UpdateUser" asp-route-id="@user.Id" class="btn btn-secondary btn-sm">Chi tiết người dùng</a>
            </td>

        </tr>

    }
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
@{

    Func<int?, string> generateUrl = (int? _pagenumber) =>
    {
        return Url.Page("./User", new { pageNumber = _pagenumber });
    };

    var datapaging = new
    {
        currentPage = Model.pageNumber,
        countPages = Model.totalPages,
        generateUrl = generateUrl
    };

}
<partial name="_Paging" model="@datapaging" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>