@model IEnumerable<NhaKhoaQuangVu.Models.NhanVien>
<h2>Danh Sách Nhân Viên</h2>
<table class="table">
    <a class="btn btn-primary" asp-action="Add">Add</a>
    <thead>
            <tr>
                <th>ID</th>
                <th>Họ tên</th>
                <th>SĐT</th>
                <th>Email</th>
                <th>Chức Vụ</th>
                <th>Địa Chỉ</th>
                <th>Chức năng</th>
            </tr>

    </thead>
    <tbody>

        @foreach (var nhanVien in Model)
        {
            <tr>
                <td>@nhanVien.ID</td>
                <td>@nhanVien.HoTen</td>
                <td>@nhanVien.SDT</td>
                <td>@nhanVien.Email</td>
                <td>@nhanVien.ChucVu</td>
                <td>@nhanVien.DiaChi</td>
                <td>
                    <a class="btn btn-success" asp-action="Update" asp-route-id="@nhanVien.ID">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@nhanVien.ID">Delete</a> 
                </td>
            </tr>
        }
    </tbody>
</table>


<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        

   
  
    
