@model List<NhaKhoaQuangVu.Models.DatHen>
@{
    ViewData["Title"] = "Danh Sách Lịch Hẹn";
    int unconsultedCount = ViewBag.UnconsultedCount ?? 0;
}

<br />
<h2>Lịch Hẹn</h2>

@if (unconsultedCount > 0)
{
    <div class="alert alert-warning" role="alert">
        Có <strong>@unconsultedCount</strong> lịch hẹn chưa được tư vấn.
    </div>
}

<script>
    @functions {
        public string GetTextColorClass(string trangThai)
        {
            switch (trangThai)
            {
                case "Đã đặt lịch":
                    return "text-danger font-weight-bold";
                case "Đã hoàn thành":
                    return "text-success font-weight-bold";
                case "Đã tư vấn":
                    return "text-primary font-weight-bold";
                case "Đã huỷ":
                    return "text-muted font-weight-bold";
                default:
                    return ""; // Hoặc trả về một lớp CSS mặc định nếu cần
            }
        }
    }
        function updateClock() {
            var now = new Date();
            var hours = now.getHours();
            var minutes = now.getMinutes();
            var seconds = now.getSeconds();

            hours = (hours < 10) ? "0" + hours : hours;
            minutes = (minutes < 10) ? "0" + minutes : minutes;
            seconds = (seconds < 10) ? "0" + seconds : seconds;

            document.getElementById("hours").textContent = hours;
            document.getElementById("minutes").textContent = minutes;
            document.getElementById("seconds").textContent = seconds;
        }
    setInterval(updateClock, 1000);

    function openConfirmationModal(id) {
        var modal = $('#confirmationModal');
        var confirmButton = modal.find('#confirmButton');
        var url = "/Employee/LichHen/ThongTinLichHen?id=" + id;
        confirmButton.attr('href', url);
        modal.modal('show');
    }
    function cancelConfirmationModal() {
        var modal = $('#confirmationModal');
        modal.modal('hide');
    }

    function filterAppointments(status) {
        var rows = document.querySelectorAll('tbody tr');
        rows.forEach(row => {
            if (status === '' || row.getAttribute('data-status').trim() === status) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });

        // Cập nhật lớp 'active' cho tab
        var tabs = document.querySelectorAll('.nav-link');
        tabs.forEach(tab => {
            if (tab.getAttribute('data-status') === status) {
                tab.classList.add('active');
            } else {
                tab.classList.remove('active');
            }
        });
    }
</script>

<style>
    .clock {
        width: 150px;
        height: 50px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to right, cornflowerblue, #ffb6c1, cornflowerblue, #ffb6c1);
    }

    .digits {
        color: #fff;
        font-size: 24px;
        margin: 0 5px;
    }

    .btn-rounded {
        border-radius: 20px;
    }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #495057;
        background-color: #fff;
        border-color: #dee2e6 #dee2e6 #fff;
    }
</style>

<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xác Nhận</h5>
            </div>
            <div class="modal-body">
                Bạn có muốn nhận tư vấn cho lịch hẹn này ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="cancelConfirmationModal()">Huỷ</button>
                <a id="confirmButton" class="btn btn-primary">Chắc chắn</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h1 class="display-4">Danh Sách Lịch Hẹn</h1>
    </div>
    <div class="col-md-1">
        <div class="clock-container">
            <div id="clock" class="clock">
                <div class="digits" id="hours">00</div>
                <div class="digits">:</div>
                <div class="digits" id="minutes">00</div>
                <div class="digits">:</div>
                <div class="digits" id="seconds">00</div>
            </div>
        </div>
    </div>
</div>

<!-- Thêm các tab để lọc trạng thái -->
<br />
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#" onclick="filterAppointments('')" data-status="">Tất cả</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="filterAppointments('Đã đặt lịch')" data-status="Đã đặt lịch">Đã đặt lịch</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="filterAppointments('Đã tư vấn')" data-status="Đã tư vấn">Đã tư vấn</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="filterAppointments('Đã hoàn thành')" data-status="Đã hoàn thành">Đã hoàn thành</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="filterAppointments('Đã huỷ')" data-status="Đã huỷ">Đã huỷ</a>
    </li>
</ul>
<div class="row mt-3">
    <div class="col-md-6">
        <form asp-action="Index" method="get">
            <div class="input-group">
                <input id="SoDienThoai" name="SoDienThoai" type="text" class="form-control" placeholder="Tìm bằng Số điện thoại" />
                <button type="submit" class="btn btn-primary me-2 btn-rounded">Tìm kiếm</button>
                <a href="/Employee/LichHen/Index" class="btn btn-secondary me-2 btn-rounded">LÀM MỚI</a>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <br />
        <table class="table table-striped" id="appointmentsTable">
            <thead>
                <tr>
                    <th>Mã Lịch Hẹn</th>
                    <th>Tên Khách Hàng</th>
                    <th>Số Điện Thoại</th>
                    <th>Ngày Hẹn</th>
                    <th>Giờ Hẹn</th>
                    <th>Trạng Thái</th>
                    <th>Hành Động</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var datHen in Model)
                {
                    <tr data-status="@datHen.TrangThai">
                        <td>@datHen.Id</td>
                        <td><strong><em>@datHen.HoTen.ToUpper()</em></strong></td>
                        <td>@datHen.SDT</td>
                        <td>@datHen.NgayHen.ToString("dd/MM/yyyy")</td>
                        <td>@datHen.GioHen</td>
                        @if (datHen.TrangThai == "Đã đặt lịch")
                        {
                            <td class="text-danger font-weight-bold"><strong>@datHen.TrangThai.ToUpper()</strong></td>
                        }
                        else if (datHen.TrangThai == "Đã hoàn thành")
                        {
                            <td class="text-success font-weight-bold"><strong>@datHen.TrangThai.ToUpper()</strong></td>
                        }
                        else if (datHen.TrangThai == "Đã tư vấn")
                        {
                            <td class="text-primary font-weight-bold"><strong>@datHen.TrangThai.ToUpper()</strong></td>
                        }
                        else if (datHen.TrangThai == "Đã huỷ")
                        {
                            <td><s><strong>@datHen.TrangThai.ToUpper()</strong></s></td>
                        }
                        else
                        {
                            <td><strong>@datHen.TrangThai.ToUpper()</strong></td>
                        }

                        <td>
                            @if (datHen.TrangThai == "Đã đặt lịch")
                            {
                                <a class="btn btn-success me-2 btn-rounded btn-border-animation" style="width: 150px;" onclick="openConfirmationModal('@datHen.Id')">Nhận Tư Vấn</a>
                            }
                            else if (datHen.TrangThai == "Đã hoàn thành")
                            {
                                <a class="btn btn-info me-2 btn-rounded" style="width: 150px; height: 50px; display: flex; justify-content: center; align-items: center;" asp-action="Details" asp-route-id="@datHen.Id">Chi Tiết</a>
                            }
                            else if (datHen.TrangThai == "Đã huỷ")
                            {
                                <a class="btn btn-dark me-2 btn-rounded" style="width: 150px; height: 50px; display: flex; justify-content: center; align-items: center;" asp-action="Details" asp-route-id="@datHen.Id">Chi Tiết</a>
                            }
                            else if (datHen.TrangThai == "Đã tư vấn")
                            {
                                <a class="btn btn-primary me-2 btn-rounded" style="width: 150px; height: 50px; display: flex; justify-content: center; align-items: center;" asp-action="CapNhat" asp-route-id="@datHen.Id">Cập Nhật</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
